@charset "UTF-8";

body{background-color: #000000;
}



header {background-image: linear-gradient(to top, #000000, #1e0b93, #000000);
    height: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 20px #711795;

}

header > h1 {
    text-align: center;
    font-size: 40px;
    text-shadow: 2px 2px #711795;
    color: white;
    padding-top: 30px;
    margin-top: auto;
}


header > h3 {text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    padding-left: 10px;
}



#destaque { color: white;
    background-image: linear-gradient(to top, #000000, #711795);
    box-shadow: 0px 0px 10px #2c58b0;
}

header > .cabecalho{display: inline-block;
   margin-bottom: 10px;
   padding: 5px;
   margin-left: 20px;
   color: white;
   background-image: linear-gradient(to top, #000000, #0c0c9d);
   font-family: Arial, Helvetica, sans-serif;
   
}

header > .cabecalho:hover {background-image: linear-gradient(to top, #000000, #711795);
    transition: 0.5s;
    color: #ffffff;
    box-shadow: 0px 0px 10px #2c58b0;
}


a{text-decoration: none;
    color: inherit;}


    main {background-color: #ffffff;
        height: 100%;
        max-width: 800px;
        margin: auto;
        padding-bottom: 20px;
        margin-bottom: 30px;
        box-shadow: 0px 0px 20px #2c58b0;
   
    }

    main > h2{ margin-top: 50px;
        
        margin-bottom: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        color: rgb(255, 255, 255);
        background-image: linear-gradient(to top, #000000, #711795);
       
    }


    .texto {background-color: #ffffff;
        color: black;
        text-align: justify;
        padding-left: 25px;
        line-height: 20px;
        text-indent: 50px;
        margin: 0px 25px 0px 25px;
        padding: 25px;
        
    }
    
    img {
        width: 100%;

      }
      
      .imagem {
          padding-left: 25px;
          padding-right: 25px;
          padding-top: 25px;
          padding-bottom: 25px;
      }
      


/* aqui comeca as configuracoes das paginas de projetos */



#destaquepro{ background-color: #00004ebb;
    color: white;
}



  main #link1 {margin: auto;
    background-image: linear-gradient(to top, #000000, #0c0c9d);
    color: white;
    width: 100px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 20px;
    }
   
    main #link1:hover {
        color: white;
    background-image: linear-gradient(to top, #000000, #711795);
    box-shadow: 0px 0px 10px #2c58b0;
    }


                .desmarcado{
                    margin: 1px;
                    padding-top: 5px;
                    padding-right: 10px;
                    padding-bottom: 5px;
                    padding-left: 10px;
                    border-radius: 50%;
                    background-image: linear-gradient(to top, #000000, #0c0c9d);
                    color: white;
                   }
                   
                   .desmarcado:hover {
                    background-image: linear-gradient(to top, #000000, #711795);
                    transition: 0.5s;
                    color: #ffffff;
                    box-shadow: 0px 0px 10px #2c58b0;
                   }
               
                  #marcado{
                      margin: 1px;
                      padding-top: 5px;
                      padding-right: 10px;
                      padding-bottom: 5px;
                      padding-left: 10px;
                      border-radius: 50%;
                      color: white;
                      background-image: linear-gradient(to top, #000000, #711795);
                      box-shadow: 0px 0px 10px #2c58b0;}
            
                    .numeros{text-align: center;
                        width: 100%;
                        display: inline-block;
                        margin-bottom: 50px;
                        margin-top: 30px;}
              