@charset "UTF-8";

body, html {
    background-color: #181818;
    padding: 0px;
    margin: 0px;
}

header{
    background-color: rgb(35, 35, 35);
    width: 100vw;
    height: 60px;
}


#imagem {
    display: inline-block;
    height: 60px;
    width: 20vw;
    background-image: url(imagens/logomarca.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#menu {
    display: inline-block;
    width: 79vw;
    height: 60px;
    position: absolute;
}

#navegaçao {
    display: flex;
    width: 79vw;
    height: 60px;
    justify-content: end;
    align-items: center;
   
}

#navegaçao > a {
    flex-basis: 150px;
    font-size: 18px;
    color: white;
    text-decoration: none;
    


    
    
   
    
}
